<tr>
  <th scope="row"><%= index %></th>
  <td><%= pipeline.name %></td>
  <% case pipeline.status
  when "active" %>
  <td class="text-success"><%= pipeline.status %></td>
  <% when "failure" %>
  <td class="text-danger"><%= pipeline.status %></td>
  <% else %>
  <td class="text-primary"><%= pipeline.status %></td>
  <% end %>
  <td><%= pipeline.updated_at %></td>
  <td><%= pipeline.created_at %></td>
</tr>
